<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
        <services>
            <register serviceType="Sitecore.Commerce.XA.Foundation.Connect.Managers.IAccountManager, Sitecore.Commerce.XA.Foundation.Connect">
                <patch:attribute name="implementationType">Sitecore.Support.Commerce.XA.Foundation.CommerceEngine.Managers.AccountManager, Sitecore.Support.309673</patch:attribute>
            </register>
        </services>

        <contactFactory type="Sitecore.Support.Commerce.Contacts.ContactFactory, Sitecore.Support.309673" />
    </sitecore>
</configuration>